{% extends "base.html" %}
{% block content %}

<!--jumbotron-->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<!--rubric-->

<div class="text">
    The Government has recently committed to "Levelling Up" the economy, so that London and the rest of the country have access to equally good opportunities and, ultimately, income. Income equality, however, cannot be achieved by this Government alone, so this website aims to help young people without means or networks to access opportunities that they otherwise wouldn't be able to.
</div>

<!--login/register/logout-->

<ul class="accordion col-12">
<div class="row">
    <div class="col s4">
        <button class="accordion col s12 btn-large light-blue darken-4 text-shadow">Log In</button>
        <div class="panel">
            <form class="login" method="POST" action="{{ url_for('login') }}">
                <div class="card-panel">
                    <!-- username -->
                    <div class="row">
					    <div class="input-field col s12">
						    <input id="username" name="username" type="text" minlength="5"
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						    <label for="username">Username</label>
					    </div>
                    </div>
                    <!-- password -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" name="password" type="password" minlength="5"
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <!-- login button -->
                    <div class="row">
                        <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                            Log In
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col s4">
        <button class="accordion col s12 btn-large light-blue darken-4 text-shadow">Register</button>
        <div class="panel">
            <form class="register" method="POST" action="{{ url_for('register') }}">
                <div class="card-panel">
                    <!-- username -->
                    <div class="row">
					    <div class="input-field col s12">
						    <input id="username" name="username" type="text" minlength="5"
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						    <label for="username">Username</label>
					    </div>
                    </div>
                    <!-- passowrd -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" name="password" type="password" minlength="5"
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <!-- register button -->
                    <div class="row">
                        <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                            Register
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<div class="row">
    <div class="logout col s4">
        <button class="col s12 btn-large light-blue darken-4 text-shadow" method="POST" action="{{ url_for('login') }}">Log Out</button>
    </div>
</div>
</div>
</ul>

<div class="background" src="/static/img/bg.jgp" alt="funky">

<div class="text">
    GIVE
</div>

<div class="row">
{% for items in help %}
    <ul class="collapsible col s6">
        {% if items.category_name %}
            <li>
                <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                    <i class="fas fa-caret-down"></i>
                    <strong>{{ items.category_name }}</strong>
                </div>
                <div class="collapsible-body">
                    <p>{{ items.task_description }}</p>
                    <form class="col s12" method="POST" action="">
                        <div class="row">

                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                                <input id="task_name" name="task_name" minlength="5" maxlength="50"
                                    type="text" class="validate" required>
                                <label for="task_name">How can you help level up?</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                                <textarea id="task_description" name="task_description" minlength="5"
                                    maxlength="200" class="materialize-textarea validate" required></textarea>
                                <label for="task_description">E-mail Address</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                                <textarea id="task_description" name="task_description" minlength="5"
                                    maxlength="200" class="materialize-textarea validate" required></textarea>
                                <label for="task_description">Website and upload CV</label>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
  
    {% endif %}

    {% endfor %}

    <div class="text">
    Do you require support?

    {% for items in people %}
        <ul class="collapsible">
            {% if items.recipient_name %}
                <li>
                    <div class="col s6 collapsible-header white-text light-blue darken-4 text-shadow">
                        <i class="fas fa-caret-down"></i>
                        <strong>{{ items.recipient_name }}</strong>
                    </div>
                    <div class="collapsible-body">
                        <strong>{{ items.recipient_name }}</strong>
                        <p>{{ items.task_description }}</p>
                    </div>
                </li>
            </ul>

</div>
</div>
        {% endif %}
    {% endfor %}
        
{% endblock %}